@charset "utf-8";
@import "mixin";
$font-color: #333;
$font-color-light: #666;

html, body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  color: $font-color;
  font-family: "PingFang SC","Microsoft YaHei","Helvetica Neue","Open Sans",Arial !important;
}

* {
  margin: 0;
  padding: 0;
}

#header {
  height: 60px;
  position: relative;
  @include base-linear-gradient('left', #45a2ff, #55bcff);
}

#logo {
  height: 50px;
  margin: 5px 0 5px 20px;
}

#content {
  min-height: calc(100% - 140px);
  min-height: -moz-calc(100% - 140px);
  min-height: -webkit-calc(100% - 140px);
}

#footer {
  background-color: #444;
  height: 80px;
  color: #808181;
}
